.wrapper{
  
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    
  
    .fileupload{
  
      height:70px;
      width:100px;
      border-radius: 100px;
      position:relative;
      
      display:flex;
      justify-content:center;
      align-items: center;  
  
      border:1px solid black;
      overflow:hidden;
      background-image: linear-gradient(to bottom, transparent 50%, #7548FE 50%);
      background-size: 100% 200%;
      transition: all 1s;
      color: #7548FE;
      font-size:100px;
  
      input[type='file']{
  
        height:200px;
        width:200px;
        position:absolute;
        top:0;
        left:0;
        opacity:0;
        cursor:pointer;
  
      }
  
      &:hover{
  
        background-position: 0 -100%;
  
        color:white;
  
      }
  
  
    }
  }